* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: #f2f4f5;
}

.container {
  width: 80%;
  margin: auto;
}

.book:nth-child(1) .book-head {
  background: url("assets/images/1.jpg");
}

.book:nth-child(2) .book-head {
  background: url("assets/images/2.jpg");
}

.book:nth-child(3) .book-head {
  background: url("assets/images/3.jpg");
}

.book:nth-child(4) .book-head {
  background: url("assets/images/4.jpg");
}
